In [1]:
import selenium

In [2]:
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import time

In [3]:
import warnings
warnings.filterwarnings('ignore')

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [22]:
driver = webdriver.Chrome()

In [23]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1 ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [9]:
driver = webdriver.Chrome()

In [10]:
driver.get('https://www.bcci.tv/')

In [11]:
International_fixtures = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
International_fixtures.click()

In [12]:
Match_Title =[]
Series =[]
Place =[]
Date =[]
Time = []

for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
    Match_Title.append(i.text)
for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
    Series.append(i.text)
for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
    Place.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
    Date.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
    Time.append(i.text)

In [13]:
BCCI = pd.DataFrame({'Match title':Match_Title, 'Series':Series, 'Place':Place, 'Date':Date, 'Time':Time})

In [14]:
BCCI

,Match title,Series,Place,Date,Time
0,1st T20I -,INDIA TOUR OF IRELAND 2023,"The Village,",18 AUG 2023,3:00 PM BST
1,2nd T20I -,INDIA TOUR OF IRELAND 2023,"The Village,",20 AUG 2023,3:00 PM BST
2,3rd T20I -,INDIA TOUR OF IRELAND 2023,"The Village,",23 AUG 2023,3:00 PM BST
3,1st ODI -,ASIA CUP 2023,"Pallekele International Cricket Stadium,",2 SEP 2023,5:30 AM BST
4,2nd ODI -,ASIA CUP 2023,"Pallekele International Cricket Stadium,",4 SEP 2023,5:30 AM BST
5,1st ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium,",22 SEP 2023,9:00 AM BST
6,2nd ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Holkar Cricket Stadium,",24 SEP 2023,9:00 AM BST
7,3rd ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium,",27 SEP 2023,9:00 AM BST

In [15]:
driver.close()

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [20]:
driver = webdriver.Chrome()

In [21]:
driver.get('https://statisticstimes.com/index.php')

In [23]:
Economy = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
Economy.click()

In [25]:
India = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
Ind = India.get_attribute('href') 
Ind

'https://statisticstimes.com/economy/india-statistics.php'

In [27]:
driver.get(Ind)

In [28]:
try:
    Indian_States_GDP = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
    GDP = Indian_States_GDP.get_attribute('href') 
    driver.get(GDP)
except WebDriverException:
    pass

In [ ]:
for _ in range(45):
    driver.execute_script("window.scrollBy(0,45)")

In [32]:
try:
    Rank,State,GSDP18_19,GSDP19_20,Share, GDP = [],[],[],[],[],[]
    for i in driver.find_elements(By.XPATH,'//td[@class="data1"]'):
        Rank.append(i.text)
    for i in driver.find_elements(By.XPATH,'//td[@class="name"]'):
        State.append(i.text)
    for i in driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]'):
        GSDP18_19.append(i.text.split(','))
    for i in driver.find_elements(By.XPATH,'//td[@class="data"]'):
        GSDP19_20.append(i.text.split(','))
    for i in driver.find_elements(By.XPATH,'//td[@class="data"]'):
        Share.append(i.text.split(','))
    for i in driver.find_elements(By.XPATH,'//td[@class="data"]'):
        GDP.append(i.text.split(','))
        
        
except WebDriverException:
    pass

In [35]:
GDP_Statewise = pd.DataFrame({'Rank':Rank[:33:],'State':State[:33:],'GSDP(18-19)':GSDP18_19[:33:],'GSDP(19-20)': GSDP19_20[:33:],'Share':Share[:33:],'GDP':GDP[:33:] })

In [36]:
GDP_Statewise

,Rank,State,GSDP(18-19),GSDP(19-20),Share,GDP
0,1,Maharashtra,"[2, 632, 792]",[-],[-],[-]
1,2,Tamil Nadu,"[1, 630, 208]",[13.94%],[13.94%],[13.94%]
2,3,Uttar Pradesh,"[1, 584, 764]",[399.921],[399.921],[399.921]
3,4,Gujarat,"[1, 502, 899]",[-],[-],[-]
4,5,Karnataka,"[1, 493, 127]","[2, 039, 074]","[2, 039, 074]","[2, 039, 074]"
5,6,West Bengal,"[1, 089, 898]","[1, 845, 853]","[1, 845, 853]","[1, 845, 853]"
6,7,Rajasthan,"[942, 586]",[8.63%],[8.63%],[8.63%]
7,8,Andhra Pradesh,"[862, 957]",[247.629],[247.629],[247.629]
8,9,Telangana,"[861, 031]","[1, 312, 929]","[1, 312, 929]","[1, 312, 929]"
9,10,Madhya Pradesh,"[809, 592]","[1, 215, 307]","[1, 215, 307]","[1, 215, 307]"
10,11,Kerala,"[781, 653]","[1, 687, 818]","[1, 687, 818]","[1, 687, 818]"
11,12,Delhi,"[774, 870]",[8.39%],[8.39%],[8.39%]
12,13,Haryana,"[734, 163]",[240.726],[240.726],[240.726]
13,14,Bihar,"[530, 363]","[1, 166, 817]","[1, 166, 817]","[1, 166, 817]"
14,15,Punjab,"[526, 376]","[1, 123, 982]","[1, 123, 982]","[1, 123, 982]"
15,16,Odisha,"[487, 805]",[-],[-],[-]
16,17,Assam,"[315, 881]",[7.96%],[7.96%],[7.96%]
17,18,Chhattisgarh,"[304, 063]",[228.290],[228.290],[228.290]
18,19,Jharkhand,"[297, 204]",[-],[-],[-]
19,20,Uttarakhand,"[245, 895]","[1, 186, 379]","[1, 186, 379]","[1, 186, 379]"
20,21,Jammu & Kashmir,"[155, 956]","[1, 631, 977]","[1, 631, 977]","[1, 631, 977]"
21,22,Himachal Pradesh,"[153, 845]",[7.91%],[7.91%],[7.91%]
22,23,Goa,"[73, 170]",[226.806],[226.806],[226.806]
23,24,Tripura,"[49, 845]","[1, 156, 039]","[1, 156, 039]","[1, 156, 039]"
24,25,Chandigarh,"[42, 114]","[1, 091, 077]","[1, 091, 077]","[1, 091, 077]"
25,26,Puducherry,"[34, 433]","[1, 253, 832]","[1, 253, 832]","[1, 253, 832]"
26,27,Meghalaya,"[33, 481]",[5.77%],[5.77%],[5.77%]
27,28,Sikkim,"[28, 723]",[165.556],[165.556],[165.556]
28,29,Manipur,"[27, 870]","[793, 223]","[793, 223]","[793, 223]"
29,30,Nagaland,"[27, 283]","[739, 525]","[739, 525]","[739, 525]"
30,31,Arunachal Pradesh,"[24, 603]","[1, 020, 989]","[1, 020, 989]","[1, 020, 989]"
31,32,Mizoram,"[22, 287]",[4.99%],[4.99%],[4.99%]
32,33,Andaman & Nicobar Islands,[-],[143.179],[143.179],[143.179]

In [37]:
driver.close()

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [4]:
driver = webdriver.Chrome()

In [5]:
driver.get('https://github.com/')

In [6]:
OpenSource = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
OpenSource.click()

In [9]:
Trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
Trend = Trending.get_attribute('href') 
Trend

'https://github.com/trending'

In [10]:
driver.get(Trend)

In [11]:
Repo_title,Repo_des,Contribution_count, Language = [],[],[],[]
for i in driver.find_elements(By.XPATH,'//span[@class="text-normal"]'):
    Repo_title.append(i.text)
for i in driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]'):
    Repo_des.append(i.text)
for i in driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"]'):
    Contribution_count.append(i.text)
for i in driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]'):
    Language.append(i.text)

In [17]:
GitHub = pd.DataFrame({'Repository title':Repo_title[0:20], 'Repository description':Repo_des[0:20], 'Contribution Count':Contribution_count[0:20],'Language used':Language[0:20]})
GitHub

,Repository title,Repository description,Contribution Count,Language used
0,getumbrel /,"A self-hosted, offline, ChatGPT-like chatbot. ...","1,366",TypeScript
1,elidianaandrade /,Repositório do lab Contribuindo em um Projeto ...,72,Python
2,apple /,This repository contains the official implemen...,337,Java
3,alibaba /,阿里巴巴 MySQL binlog 增量订阅&消费组件,"2,938",C#
4,LorisYounger /,"虚拟桌宠模拟器 一个开源的桌宠软件, 可以内置到任何WPF应用程序",950,Rust
5,systeminit /,The System Initiative software,45,Ruby
6,ubicloud /,"Open, free, and portable cloud. Elastic comput...","26,356",TypeScript
7,ill-inc /,Biomes is an open source sandbox MMORPG built ...,"7,364",Go
8,1Panel-dev /,🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。,"1,280",Python
9,taojy123 /,类似按键精灵的鼠标键盘录制和自动化操作 模拟点击和键入 | automate mouse c...,136,Python
10,jiran214 /,GPT-vup BIliBili | 抖音 | AI | 虚拟主播,389,C
11,SkyAsor /,Save time and maximize your profits with our J...,27,Python
12,bellard /,Public repository of the QuickJS Javascript En...,682,JavaScript
13,rany2 /,Use Microsoft Edge's online text-to-speech ser...,12,Python
14,ibaiw /,2023 HVV情报速递~,898,HTML
15,wangshusen /,搜索引擎原理,101,HTML
16,diegomura /,📄 Create PDF files using React,"9,175",Kotlin
17,roboflow /,We write your reusable computer vision tools. 💜,832,TypeScript
18,xxlllq /,💯2023年系统架构设计师（软考高级）备考资料。,"4,098",TypeScript
19,opentffoundation /,The OpenTF Manifesto expresses concern over Ha...,687,Java

In [18]:
driver.close()

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [4]:
driver = webdriver.Chrome()

In [5]:
driver.get('https:/www.billboard.com/')

In [9]:
try:
    charts= driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a')
    charts.click()
except WebDriverException:
    pass

In [10]:
for _ in range(1000):
    driver.execute_script("window.scrollBy(0,200)")

In [11]:
Song_name,Artist,Last_week_rank,Peak_Rank,WOB = [],[],[],[],[]

In [16]:
for i in driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]'):
    Song_name.append(i.text)
for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]'):
    Artist.append(i.text)
for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]'):
    Last_week_rank.append(i.text)
for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]'):
    Peak_Rank.append(i.text)
for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]'):
    WOB.append(i.text)

In [18]:
Bill = pd.DataFrame({'Song Name':Song_name[0:100],'Artist':Artist[0:100],'Last Week Rank':Last_week_rank[0:100],'Peak Rank':Peak_Rank[0:100],'Weeks on Board':WOB[0:100]})
Bill

,Song Name,Artist,Last Week Rank,Peak Rank,Weeks on Board
0,Fast Car,Luke Combs,1,,2
1,Cruel Summer,Taylor Swift,28,1,2
2,Calm Down,Rema & Selena Gomez,2,,20
3,Fukumean,Gunna,20,2,
4,Vampire,Olivia Rodrigo,4,,
...,...,...,...,...,...
95,Overdrive,Post Malone,12,48,
96,"Bzrp Music Sessions, Vol. 55",Bizarrap & Peso Pluma,-,,31
97,Dawns,Zach Bryan Featuring Maggie Rogers,37,1,1
98,Rubicon,Peso Pluma,66,,42
99,Fast Car,Luke Combs,14,50,

In [19]:
driver.close()

6. URL = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare You have to find the follow

Scrape the details of Highest selling novels.

compare
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [10]:
driver = webdriver.Chrome()

In [11]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [12]:
for _ in range(45):
    driver.execute_script("window.scrollBy(0,45)")

In [13]:
Novel = []
for i in driver.find_elements(By.XPATH,'//tbody'):
    Novel.append(i.text.split('\n'))

In [14]:
Novel

[['1 Da Vinci Code,The Brown, Dan 5,094,805 Transworld Crime, Thriller & Adventure',
  "2 Harry Potter and the Deathly Hallows Rowling, J.K. 4,475,152 Bloomsbury Children's Fiction",
  "3 Harry Potter and the Philosopher's Stone Rowling, J.K. 4,200,654 Bloomsbury Children's Fiction",
  "4 Harry Potter and the Order of the Phoenix Rowling, J.K. 4,179,479 Bloomsbury Children's Fiction",
  '5 Fifty Shades of Grey James, E. L. 3,758,936 Random House Romance & Sagas',
  "6 Harry Potter and the Goblet of Fire Rowling, J.K. 3,583,215 Bloomsbury Children's Fiction",
  "7 Harry Potter and the Chamber of Secrets Rowling, J.K. 3,484,047 Bloomsbury Children's Fiction",
  "8 Harry Potter and the Prisoner of Azkaban Rowling, J.K. 3,377,906 Bloomsbury Children's Fiction",
  '9 Angels and Demons Brown, Dan 3,193,946 Transworld Crime, Thriller & Adventure',
  "10 Harry Potter and the Half-blood Prince:Children's Edition Rowling, J.K. 2,950,264 Bloomsbury Children's Fiction",
  '11 Fifty Shades Darker James, E. L. 2,479,784 Random House Romance & Sagas',
  '12 Twilight Meyer, Stephenie 2,315,405 Little, Brown Book Young Adult Fiction',
  '13 Girl with the Dragon Tattoo,The:Millennium Trilogy Larsson, Stieg 2,233,570 Quercus Crime, Thriller & Adventure',
  '14 Fifty Shades Freed James, E. L. 2,193,928 Random House Romance & Sagas',
  '15 Lost Symbol,The Brown, Dan 2,183,031 Transworld Crime, Thriller & Adventure',
  '16 New Moon Meyer, Stephenie 2,152,737 Little, Brown Book Young Adult Fiction',
  '17 Deception Point Brown, Dan 2,062,145 Transworld Crime, Thriller & Adventure',
  '18 Eclipse Meyer, Stephenie 2,052,876 Little, Brown Book Young Adult Fiction',
  '19 Lovely Bones,The Sebold, Alice 2,005,598 Pan Macmillan General & Literary Fiction',
  '20 Curious Incident of the Dog in the Night-time,The Haddon, Mark 1,979,552 Random House General & Literary Fiction',
  '21 Digital Fortress Brown, Dan 1,928,900 Transworld Crime, Thriller & Adventure',
  '22 Short History of Nearly Everything,A Bryson, Bill 1,852,919 Transworld Popular Science',
  '23 Girl Who Played with Fire,The:Millennium Trilogy Larsson, Stieg 1,814,784 Quercus Crime, Thriller & Adventure',
  '24 Breaking Dawn Meyer, Stephenie 1,787,118 Little, Brown Book Young Adult Fiction',
  '25 Very Hungry Caterpillar,The:The Very Hungry Caterpillar Carle, Eric 1,783,535 Penguin Picture Books',
  '26 Gruffalo,The Donaldson, Julia 1,781,269 Pan Macmillan Picture Books',
  "27 Jamie's 30-Minute Meals Oliver, Jamie 1,743,266 Penguin Food & Drink: General",
  '28 Kite Runner,The Hosseini, Khaled 1,629,119 Bloomsbury General & Literary Fiction',
  '29 One Day Nicholls, David 1,616,068 Hodder & Stoughton General & Literary Fiction',
  '30 Thousand Splendid Suns,A Hosseini, Khaled 1,583,992 Bloomsbury General & Literary Fiction',
  "31 Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy Larsson, Stieg 1,555,135 Quercus Crime, Thriller & Adventure",
  "32 Time Traveler's Wife,The Niffenegger, Audrey 1,546,886 Random House General & Literary Fiction",
  '33 Atonement McEwan, Ian 1,539,428 Random House General & Literary Fiction',
  "34 Bridget Jones's Diary:A Novel Fielding, Helen 1,508,205 Pan Macmillan General & Literary Fiction",
  '35 World According to Clarkson,The Clarkson, Jeremy 1,489,403 Penguin Humour: Collections & General',
  "36 Captain Corelli's Mandolin Bernieres, Louis de 1,352,318 Random House General & Literary Fiction",
  '37 Sound of Laughter,The Kay, Peter 1,310,207 Random House Autobiography: General',
  '38 Life of Pi Martel, Yann 1,310,176 Canongate General & Literary Fiction',
  '39 Billy Connolly Stephenson, Pamela 1,231,957 HarperCollins Biography: The Arts',
  '40 Child Called It,A Pelzer, Dave 1,217,712 Orion Autobiography: General',
  "41 Gruffalo's Child,The Donaldson, Julia 1,208,711 Pan Macmillan Picture Books",
  "42 Angela's Ashes:A Memoir of a Childhood McCourt, Frank 1,204,058 HarperCollins Autobiography: General",
  '43 Birdsong Faulks, Sebastian 1,184,967 Random House General & Literary Fiction',
  '44 Northern Lights:His Dark Materials S. Pullman, Philip 1,181,503 Scholastic Ltd. Young Adult Fiction',
  '45 Labyrinth Mosse, Kate 1,181,093 Orion General & Literary Fiction',
  '46 Harry Potter and the Half-blood Prince Rowling, J.K. 1,153,181 Bloomsbury Science Fiction & Fantasy',
  '47 Help,The Stockett, Kathryn 1,132,336 Penguin General & Literary Fiction',
  '48 Man and Boy Parsons, Tony 1,130,802 HarperCollins General & Literary Fiction',
  '49 Memoirs of a Geisha Golden, Arthur 1,126,337 Random House General & Literary Fiction',
  "50 No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S. McCall Smith, Alexander 1,115,549 Little, Brown Book Crime, Thriller & Adventure",
  '51 Island,The Hislop, Victoria 1,108,328 Headline General & Literary Fiction',
  '52 PS, I Love You Ahern, Cecelia 1,107,379 HarperCollins General & Literary Fiction',
  '53 You are What You Eat:The Plan That Will Change Your Life McKeith, Gillian 1,104,403 Penguin Fitness & Diet',
  '54 Shadow of the Wind,The Zafon, Carlos Ruiz 1,092,349 Orion General & Literary Fiction',
  "55 Tales of Beedle the Bard,The Rowling, J.K. 1,090,847 Bloomsbury Children's Fiction",
  '56 Broker,The Grisham, John 1,087,262 Random House Crime, Thriller & Adventure',
  "57 Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P Atkins, Robert C. 1,054,196 Random House Fitness & Diet",
  '58 Subtle Knife,The:His Dark Materials S. Pullman, Philip 1,037,160 Scholastic Ltd. Young Adult Fiction',
  '59 Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation Truss, Lynne 1,023,688 Profile Books Group Usage & Writing Guides',
  "60 Delia's How to Cook:(Bk.1) Smith, Delia 1,015,956 Random House Food & Drink: General",
  '61 Chocolat Harris, Joanne 1,009,873 Transworld General & Literary Fiction',
  '62 Boy in the Striped Pyjamas,The Boyne, John 1,004,414 Random House Childrens Books G Young Adult Fiction',
  "63 My Sister's Keeper Picoult, Jodi 1,003,780 Hodder & Stoughton General & Literary Fiction",
  '64 Amber Spyglass,The:His Dark Materials S. Pullman, Philip 1,002,314 Scholastic Ltd. Young Adult Fiction',
  '65 To Kill a Mockingbird Lee, Harper 998,213 Random House General & Literary Fiction',
  '66 Men are from Mars, Women are from Venus:A Practical Guide for Improvin Gray, John 992,846 HarperCollins Popular Culture & Media: General Interest',
  '67 Dear Fatty French, Dawn 986,753 Random House Autobiography: The Arts',
  '68 Short History of Tractors in Ukrainian,A Lewycka, Marina 986,115 Penguin General & Literary Fiction',
  '69 Hannibal Harris, Thomas 970,509 Random House Crime, Thriller & Adventure',
  '70 Lord of the Rings,The Tolkien, J. R. R. 967,466 HarperCollins Science Fiction & Fantasy',
  '71 Stupid White Men:...and Other Sorry Excuses for the State of the Natio Moore, Michael 963,353 Penguin Current Affairs & Issues',
  '72 Interpretation of Murder,The Rubenfeld, Jed 962,515 Headline Crime, Thriller & Adventure',
  '73 Sharon Osbourne Extreme:My Autobiography Osbourne, Sharon 959,496 Little, Brown Book Autobiography: The Arts',
  '74 Alchemist,The:A Fable About Following Your Dream Coelho, Paulo 956,114 HarperCollins General & Literary Fiction',
  "75 At My Mother's Knee ...:and Other Low Joints O'Grady, Paul 945,640 Transworld Autobiography: The Arts",
  '76 Notes from a Small Island Bryson, Bill 931,312 Transworld Travel Writing',
  '77 Return of the Naked Chef,The Oliver, Jamie 925,425 Penguin Food & Drink: General',
  '78 Bridget Jones: The Edge of Reason Fielding, Helen 924,695 Pan Macmillan General & Literary Fiction',
  "79 Jamie's Italy Oliver, Jamie 906,968 Penguin National & Regional Cuisine",
  '80 I Can Make You Thin McKenna, Paul 905,086 Transworld Fitness & Diet',
  '81 Down Under Bryson, Bill 890,847 Transworld Travel Writing',
  '82 Summons,The Grisham, John 869,671 Random House Crime, Thriller & Adventure',
  '83 Small Island Levy, Andrea 869,659 Headline General & Literary Fiction',
  '84 Nigella Express Lawson, Nigella 862,602 Random House Food & Drink: General',
  '85 Brick Lane Ali, Monica 856,540 Transworld General & Literary Fiction',
  "86 Memory Keeper's Daughter,The Edwards, Kim 845,858 Penguin General & Literary Fiction",
  '87 Room on the Broom Donaldson, Julia 842,535 Pan Macmillan Picture Books',
  '88 About a Boy Hornby, Nick 828,215 Penguin General & Literary Fiction',
  '89 My Booky Wook Brand, Russell 820,563 Hodder & Stoughton Autobiography: The Arts',
  '90 God Delusion,The Dawkins, Richard 816,907 Transworld Popular Science',
  '91 "Beano" Annual,The 0 816,585 D.C. Thomson Children\'s Annuals',
  '92 White Teeth Smith, Zadie 815,586 Penguin General & Literary Fiction',
  '93 House at Riverton,The Morton, Kate 814,370 Pan Macmillan General & Literary Fiction',
  '94 Book Thief,The Zusak, Markus 809,641 Transworld General & Literary Fiction',
  '95 Nights of Rain and Stars Binchy, Maeve 808,900 Orion General & Literary Fiction',
  '96 Ghost,The Harris, Robert 807,311 Random House General & Literary Fiction',
  '97 Happy Days with the Naked Chef Oliver, Jamie 794,201 Penguin Food & Drink: General',
  '98 Hunger Games,The:Hunger Games Trilogy Collins, Suzanne 792,187 Scholastic Ltd. Young Adult Fiction',
  "99 Lost Boy,The:A Foster Child's Search for the Love of a Family Pelzer, Dave 791,507 Orion Biography: General",
  "100 Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours Oliver, Jamie 791,095 Penguin Food & Drink: General"]]

In [15]:
driver.close()

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [39]:
driver = webdriver.Chrome()

In [40]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [42]:
Name,Year,Genre,Run_time,Ratings,Votes = [],[],[],[],[],[]

for i in driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]'):
    na = i.text.split('(')[0]
    Name.append(na.split('.')[1])
    Year.append(i.text.split('(')[1].replace(')',' '))

for i in driver.find_elements(By.XPATH,'//span[@class="genre"]'):
    Genre.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//span[@class="runtime"]'):
    Run_time.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]'):
    Ratings.append(i.text.split('\n')[0])

for i in driver.find_elements(By.XPATH,'//span[@name="nv"]'):
    Votes.append(i.text)

In [43]:
TV_Series = pd.DataFrame({'Name':Name, 'Year Span':Year, 'Genre':Genre, 'Run Time':Run_time, 'Ratings':Ratings, 'Votes':Votes})
TV_Series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.2,"2,193,578"
1,Stranger Things,2016–2024,"Drama, Fantasy, Horror",51 min,8.7,"1,267,290"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.1,"1,041,195"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.5,"306,025"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"265,101"
...,...,...,...,...,...,...
95,Reign,2013–2017,Drama,42 min,7.5,"52,438"
96,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,7.8,"64,468"
97,Criminal Minds,2005–,"Crime, Drama, Mystery",42 min,8.1,"210,135"
98,Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45 min,7,"43,694"
99,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,"263,750"

In [45]:
driver.close()

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [12]:
driver = webdriver.Chrome()

In [13]:
driver.get('https://archive.ics.uci.edu/')

In [14]:
Accept = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/div/div[2]/button')
Accept.click()

In [15]:
Dataset = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
Dataset.click()

In [16]:
Dataset_Name = []
Data_Type =[]
task =[]
Instances =[]
No_of_Attributes=[]

In [17]:
for i in driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]'):
    Dataset_Name.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]'):
    Data_Type.append(i.text.split('\n')[0])
    
for i in driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]'):
    task.append(i.text.split(' ')[0])
    
for i in driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]'):
    Instances.append(i.text.split(' ')[0])
    
for i in driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]'):
    No_of_Attributes.append(i.text.split(' ')[0])

In [18]:
print(len(Dataset_Name),len(Data_Type),len(task),len(Instances),len(No_of_Attributes))

10 10 10 10 10

In [19]:
Data = pd.DataFrame({'Dataset Name':Dataset_Name[0:10],'Data Type':Data_Type[0:10],'Task':task[0:10],'Instances':Instances[0:10],'No of Attributes':No_of_Attributes[0:10]})

In [20]:
Data

,Dataset Name,Data Type,Task,Instances,No of Attributes
0,Iris,Classification,Classification\nMultivariate\n150,Classification\nMultivariate\n150,Classification\nMultivariate\n150
1,Heart Disease,Classification,Classification\nMultivariate\n303,Classification\nMultivariate\n303,Classification\nMultivariate\n303
2,Adult,Classification,Classification\nMultivariate\n48.84K,Classification\nMultivariate\n48.84K,Classification\nMultivariate\n48.84K
3,Dry Bean Dataset,Classification,Classification\nMultivariate\n13.61K,Classification\nMultivariate\n13.61K,Classification\nMultivariate\n13.61K
4,Diabetes,20 Attributes,20,20,20
5,Wine,Classification,Classification\nMultivariate\n178,Classification\nMultivariate\n178,Classification\nMultivariate\n178
6,Breast Cancer Wisconsin (Diagnostic),Classification,Classification\nMultivariate\n569,Classification\nMultivariate\n569,Classification\nMultivariate\n569
7,Car Evaluation,Classification,Classification\nMultivariate\n1.73K,Classification\nMultivariate\n1.73K,Classification\nMultivariate\n1.73K
8,Rice (Cammeo and Osmancik),Classification,Classification\nMultivariate\n3.81K,Classification\nMultivariate\n3.81K,Classification\nMultivariate\n3.81K
9,Mushroom,Classification,Classification\nMultivariate\n8.12K,Classification\nMultivariate\n8.12K,Classification\nMultivariate\n8.12K

In [21]:
driver.close()